@{
    ViewBag.Title = "RebuildProductSearchExtensionData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <!-- scripts here -->
}


<h2>Rebuild Product Search Extension Data</h2>
<p>Store: @ViewBag.StoreName</p>
<p>Completed successfully: @ViewBag.CompletedSuccessfully</p>
