@{
    ViewBag.Title = "RepopulateProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <!-- scripts here -->
}



<h2>Repopulate Products</h2>

<p>Completed successfully: @ViewBag.CompletedSuccessfully</p>
<p>Completed at: @ViewBag.TimeWhenPopulationCompleted</p>
<p>Duration: @ViewBag.TimeToPopulate</p>