@{
    ViewBag.Title = "Home Page";
}

<p>Inside Stores Product Feeds</p>

<h2>InsideFabric</h2>

<div class="feedProvider">
<p><a href="/ProductFeeds/InsideFabric/Google/InsideFabricGoogleProductFeed.txt">InsideFabricGoogleProductFeed.txt</a></p>
<p><a href="/ProductFeeds/InsideFabric/Google/InsideFabricGoogleProductFeed.zip">InsideFabricGoogleProductFeed.zip</a></p>
</div>

<div class="feedProvider">
<p><a href="/ProductFeeds/InsideFabric/Bing/InsideFabricBingProductFeed.txt">InsideFabricBingProductFeed.txt</a></p>
<p><a href="/ProductFeeds/InsideFabric/Bing/InsideFabricBingProductFeed.zip">InsideFabricBingProductFeed.zip</a></p>
</div>

<div class="feedProvider">
    <p><a href="/ProductFeeds/InsideFabric/Amazon/InsideFabricAmazonProductFeed.txt">InsideFabricAmazonProductFeed.txt</a></p>
    <p><a href="/ProductFeeds/InsideFabric/Amazon/InsideFabricAmazonProductFeed.zip">InsideFabricAmazonProductFeed.zip</a></p>
</div>


<div class="feedProvider">
    <p><a href="/ProductFeeds/InsideFabric/FirstDibs/InsideFabricFirstDibsProductFeed.zip">InsideFabricFirstDibsProductFeed.zip</a></p>
</div>


<h2>InsideWallpaper</h2>

<div class="feedProvider">
    <p><a href="/ProductFeeds/InsideWallpaper/Google/InsideWallpaperGoogleProductFeed.txt">InsideWallpaperGoogleProductFeed.txt</a></p>
    <p><a href="/ProductFeeds/InsideWallpaper/Google/InsideWallpaperGoogleProductFeed.zip">InsideWallpaperGoogleProductFeed.zip</a></p>
</div>

<div class="feedProvider">
    <p><a href="/ProductFeeds/InsideWallpaper/Bing/InsideWallpaperBingProductFeed.txt">InsideWallpaperBingProductFeed.txt</a></p>
    <p><a href="/ProductFeeds/InsideWallpaper/Bing/InsideWallpaperBingProductFeed.zip">InsideWallpaperBingProductFeed.zip</a></p>
</div>

<div class="feedProvider">
    <p><a href="/ProductFeeds/InsideWallpaper/Amazon/InsideWallpaperAmazonProductFeed.txt">InsideWallpaperAmazonProductFeed.txt</a></p>
    <p><a href="/ProductFeeds/InsideWallpaper/Amazon/InsideWallpaperAmazonProductFeed.zip">InsideWallpaperAmazonProductFeed.zip</a></p>
</div>

<div class="feedProvider">
    <p><a href="/ProductFeeds/InsideWallpaper/FirstDibs/InsideWallpaperFirstDibsProductFeed.zip">InsideWallpaperFirstDibsProductFeed.zip</a></p>
</div>


<h2>InsideAvenue</h2>

<div class="feedProvider">
    <p><a href="/ProductFeeds/InsideAvenue/Google/InsideAvenueGoogleProductFeed.txt">InsideAvenueGoogleProductFeed.txt</a></p>
    <p><a href="/ProductFeeds/InsideAvenue/Google/InsideAvenueGoogleProductFeed.zip">InsideAvenueGoogleProductFeed.zip</a></p>
</div>


@*<h2>InsideRugs</h2>

<div class="feedProvider">
<p><a href="/ProductFeeds/InsideRugs/Google/InsideRugsGoogleProductFeed.txt">InsideRugsGoogleProductFeed.txt</a></p>
<p><a href="/ProductFeeds/InsideRugs/Google/InsideRugsGoogleProductFeed.zip">InsideRugsGoogleProductFeed.zip</a></p>
</div>

<div class="feedProvider">
<p><a href="/ProductFeeds/InsideRugs/Bing/InsideRugsBingProductFeed.txt">InsideRugsBingProductFeed.txt</a></p>
<p><a href="/ProductFeeds/InsideRugs/Bing/InsideRugsBingProductFeed.zip">InsideRugsBingProductFeed.zip</a></p>
</div>

<div class="feedProvider">
<p><a href="/ProductFeeds/InsideRugs/TheFind/InsideRugsTheFindProductFeed.txt">InsideRugsTheFindProductFeed.txt</a></p>
<p><a href="/ProductFeeds/InsideRugs/TheFind/InsideRugsTheFindProductFeed.zip">InsideRugsTheFindProductFeed.zip</a></p>
</div>

<div class="feedProvider">
<p><a href="/ProductFeeds/InsideRugs/Amazon/InsideRugsAmazonProductFeed.txt">InsideRugsAmazonProductFeed.txt</a></p>
<p><a href="/ProductFeeds/InsideRugs/Amazon/InsideRugsAmazonProductFeed.zip">InsideRugsAmazonProductFeed.zip</a></p>
</div>

<div class="feedProvider">
<p><a href="/ProductFeeds/InsideRugs/Nextag/InsideRugsNextagProductFeed.txt">InsideRugsNextagProductFeed.txt</a></p>
<p><a href="/ProductFeeds/InsideRugs/Nextag/InsideRugsNextagProductFeed.zip">InsideRugsNextagProductFeed.zip</a></p>
</div>*@

<div style="margin-top:30pt">
<form id="myForm" method="GET" action="/RegenerateAllFeeds">
<h2>Regenerate All Product Feeds</h2>

<table>
<tr>
<td>Password: </td>
<td><input name="password" type="text" style="width:200px" placeholder="ms2" /></td>
</tr>
<tr>
<td></td>
<td><input type="submit" value="Submit" style="width:100px;" /> </td>
</tr>

</table>
</form>
</div>
