
@{
    Layout = null;
}

@model System.Exception

<section>
    <h4 style="color:#c31b1b">Processing Error</h4>
    <p>@Model.Message</p>
    <h5 style="color:#c31b1b;margin-top:40px;font-weight:bold;">Details</h5>
    <p>@Model</p>
</section>