<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SchemaTreeCSVPath" value="C:\categoryTree.csv" />
    <add key="GoogleTaxonomyPath" value="C:\taxonomy.txt" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Kent.Boogaart.HelperTrinity" publicKeyToken="cc96fa93a217f7a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>