@{
    ViewBag.Title = "Simple Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <!-- scripts here -->
}

<style type="text/css">

.dataTable .tdLabel
{
    text-align:left;
    width:300px;
    padding-right:10px;
}

.dataTable .tdData
{
    text-align:left;
    width:400px;
}

    h5 {
        margin-top:20pt;
        margin-bottom:3pt;
    }
</style>


<h2>Result</h2>

<p>@ViewBag.Message</p>
