@{
    ViewBag.Title = "Generate Product Feed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <!-- scripts here -->
}


<h2>Generate Product Feed</h2>

<p>Store: @ViewBag.StoreName</p>

<p>Feed: @ViewBag.Feed</p>

<p>Feed generation started. This is a long operation which is completed in the background.</p>

